.my-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my-boxes{
    width: 350px;
    height: 350px;
    margin: 20px;
    border: 1px solid lightgray;
    padding: 10px;

}

.detail-btn{
    display: block;
    margin: auto;
    /* background: linear-gradient(to right, #062B30, #300B06); */
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.p-snippet{
  margin-top: 40px;
  margin-bottom: 30px;
  color: gray;
}


.query-title{
    letter-spacing: 2px;
    text-align: center;

}